<h1>It is getting busy here, Thank god you are here, Lets slow it down!</h1>


<div class="Add order">
  <a href="/orders/new">Take Orders</a>
  

</div>

<div class="logout-button"><%= button_to "Logout", '/sessions', method: :delete %></div>
